$primary-color: #38b88b;

@mixin display-flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin title($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin confirm-button($width, $height) {
  width: $width;
  height: $height;
  color: $primary-color;
}

@mixin default-params-value($color: $primary-color, $background: #fff) {
  color: $color;
  background-color: $background;
}

@mixin default-params-value2($width: 30px, $height: 30px) {
  width: $width;
  height: $height;
}
