@import 'variables';
@import 'buttons';
@import 'card';
@import 'mixins';
@import 'mixins-with-params';
@import 'content';
@import 'extend';
@import 'operators';

.main-container {
  height: 100vh;
}

.flex-center {
  @include mx-flex-center;
  margin-bottom: 24px;
}

.flex-space-between {
  @include mx-flex-space-between;
  margin-bottom: 24px;
}

.flex-space-around {
  @include mx-flex-space-around;
  margin-bottom: 24px;
}

.flex-mixin-params {
  @include display-flex(center, center, column);
}

.title-mixin-params {
  @include title(18px, $primary-color, 400);
}

.button-mixin-params {
  @include confirm-button(180px, 40px);
}

.default-params-value {
  @include default-params-value;
}

.default-params-value2 {
  @include default-params-value2;
}

.display-flex-default {
  @include display-flex-default(space-between, flex-end, column);
}

.display-flex-default2 {
  @include display-flex-default;
}

.concat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .concat2 {
    padding: 0;
    margin: 0;
    display: block;
    box-sizing: border-box;
  }
}

.concat3 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &:hover {
    background-color: #3babba;
    color: $white;
  }
}

.content {
  @include mobile {
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    color: $white;
  }
}
