@import "variables";

.button {
  width: 250px;
  height: 40px;
  background-color: $primary-color;
  color: $white;
  border: none;
  cursor: pointer;
  transition: 1s;

  &:hover {
    background-color: $danger-color;
    font-weight: bold;
  }

  &.radius {
    border-radius: 6px;
  }
}
